[submodule "core"]
	path = core
	url = https://github.com/Eharagithub/LifeFile-Core.git
[submodule "auth-service"]
	path = auth-service
	url = ./auth-service
[submodule "profile-service"]
	path = profile-service
	url = ./profile-service
